@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f172a; /* slate-900 */
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* slate-900 */
  width: 100%;
  overflow-x: hidden;
}

/* 隱藏 Scrollbar 但保持功能 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}