@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
